<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.cocoda.dao.noticeboardMapper">

<!-- 게시글 읽기 -->
	<select id="readingBoard" resultType="board" parameterType="string">
		select
			boardnum
			, id
			, title
			, to_char(inputdate, 'YYYY-MM-DD') inputdate
			, hits
		from
			noticeboard
		<if test="_parameter != null">
		where
			title like '%' || #{searchText} || '%'
		</if>
		order by boardnum desc
	</select>
	
	
	
	
	<select id="readingEachBoard" resultType="board" parameterType="int" >
		select
			boardnum
			, id
			, title
			, content
			, to_char(inputdate, 'YYYY-MM-DD') inputdate
			, hits
		from 
			noticeboard
		where
			boardnum = #{boardnum}
	
	</select>

	<insert id="insertboard" parameterType="board">
		insert into noticeboard (
			boardnum
			, id
			, title
			, content
		)
		values (
			noticeboard_seq.nextval
			, #{id}
			, #{title}
			, #{content}
		)
	</insert>

	<!-- 조회수 1 증가 -->
	<update id="addHits" parameterType="int">
		update
			noticeboard
		set
			hits = hits + 1
		where
			boardnum = #{boardnum}
	</update>
	
	<delete id= "deleteBoard" parameterType="int">
	
		delete
		
			noticeboard
			
		where
		
			boardnum=#{boardnum}
			
	</delete>
	
	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="board">
		update
			noticeboard
		set
			title = #{title}
			, content = #{content}
		where
			boardnum = #{boardnum}
			and id = #{id}
	</update>
	
	<!-- 전체 글 개수 (검색 필터링 후) -->			
	<select id="getTotal" parameterType="string" resultType="int">			
		select
			count(*)
		from		
			noticeboard	
		<if test="_parameter != null">		
		where		
			title like '%' || #{searchText} || '%'	
		</if>		
	</select>	
	

</mapper>